/* Main container */
.change_password_container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 30px 40px;
    margin: 0 auto;
    width: 400px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Header styles */
.change_password_container .header {
    width: 100%;
}

.change_password_container .header h2 {
    text-align: center;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Input group styles */
.change_password_container .input-group {
    width: 100%;
    margin-top: 10px;
}

.change_password_container .input-group input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #000000;
}

/* Error and success message styles */
.change_password_container .error-message,
.change_password_container .success-message {
    margin-top: 15px;
    font-size: 12px;
    color: #000000;
    text-align: center;
    font-weight: 600;
}

/* Button styles */
.change_password_container button {
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #4782b4;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    width: 100%; 
    text-align: center;
}

/* Responsive styles */
@media (max-width: 480px) {
    .change_password_container {
        width: 90%;
    }

    .change_password_container button {
        padding: 10px 20px;
        margin-left: auto;
        margin-right: auto;
    }
}