* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .App {
    border-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
 
  .App button
  {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    color: #11235A;
    font-weight: 600;
  }

.App .start
{
    text-decoration: none;
}