
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}


.main_container_signup {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 30px 40px;
    margin: 0px auto;
    width: 400px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkbox-container {
    margin-top: 10px;
}

.checkbox-container label {
    margin-right: 10px; /* Adjust as needed */
}


.main_container_signup .header {
    width: 100%;
}

.main_container_signup .header h2 {
    text-align: center;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}


.main_container_signup .box {
    width: 100%;
    margin-top: 10px;
}

.main_container_signup .box input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #000000;
}


.main_container_signup p {
    margin-top: 15px;
    font-size: 12px;
    color: #000000;
    text-align: center; 
    font-weight: 600;
}

.main_container_signup p Link {
    text-decoration: none;
}

.main_container_signup .admin {
    font-size: 11px;
}
.main_container_signup button {
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #4782b4;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 600;
    width: 100%; 
    text-align: center; 
}


.main_container_signup .logo {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    margin-top: -30px;
}


@media (max-width: 480px) {

    .main_container_signup {
        width: 90%;
    }

    
    .main_container_signup button {
        padding: 10px 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
